.header {
	padding-bottom: var(--ax-space-24);
	padding-top: var(--ax-space-24);
	text-align: center;
}

.content {
	background-color: var(--ax-bg-meta-purple-moderateA);
	padding: var(--ax-space-40);
}
