---
import { BodyShort, Heading } from "@navikt/ds-react";
import ClientIsland from "@src/components/ClientIsland";
import "@src/styles/aksel.css";
import styles from "@src/styles/index.module.css";
import logger from "@src/utils/logger";
import { getOboToken } from "@src/utils/token";
import { fetchExampleData } from "../utils/fetch";

const oboToken = await getOboToken(Astro.locals.token);
const exampleApiUrl = import.meta.env.EXAMPLE_API_URL;
let exampleData;

/* try {
  exampleData = await fetchExampleData(oboToken, exampleApiUrl);
} catch (error) {
  logger.error("Error fetching example data:", error);
  return new Response("Internal Server Error", { status: 503 });
} */
---

<section class="sokos-up-astro-template">
  <div class={styles.microfrontend}>
    <BodyShort> Come with me if you want to live. </BodyShort>
    <ClientIsland client:only="react" />
  </div>
</section>
