---
import { BodyLong, BodyShort, Heading } from "@navikt/ds-react";
import ClientIsland from "@src/components/ClientIsland";
import "@src/styles/aksel.css";
import styles from "@src/styles/index.module.css";
---

<section class="sokos-astro-template">
  <div class={styles.microfrontend}>
    <Heading spacing level="1" size="large">
      Grensesnittmal for Utbetalingsportalen
    </Heading>
    <BodyLong>
      Dette er en mal for å bygge mikrofrontend i Utbetalingsportalen
    </BodyLong>
    <BodyShort> Astro server-side template </BodyShort>
    <ClientIsland client:only="react" />
  </div>
</section>
