---
// Mikrofrontend-fragment: Denne layouten rendres som et fragment uten <html>/<head>/<body>
// fordi den embeddes i container (sokos-utbetalingsportalen).
import "@navikt/ds-css";
---

<meta charset="utf-8" />
<section class="sokos-astro-template">
  <slot />
</section>
